
<div class="container row footer-container">
    <div class="grid-30">
        Copyright creative workers 
    </div>
    <div class="grid-40 text-center">
        <a href="https://google.com" target="_blank">Privacy</a>
        •
        <a href="https://google.com" target="_blank">Terms</a>
        •
        <a href="https://google.com" target="_blank">Cookies</a>
        •
        <a href="https://google.com" target="_blank">More</a>
    </div>

    <div class="grid-30 text-right">
        kissmybutton © 2017
    </div>
</div>
