<div class="card">

    <div class="card-header"
        [style.backgroundImage]="'url(https://cdn.vox-cdn.com/thumbor/ZpU--KgcKR9VJLa6fM8OycWhuMo=/0x146:2040x1214/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/13678166/DSCF1194.0.jpg)'">

    </div>
    <div class="card-body">
        <div class="card-title">
            <a [href]="src.url" target="_blank">
                {{src.name}}
            </a>
        </div>
        <div class="card-content">
           {{src.description}}
        </div>
    </div>
    <div class="card-footer">
        <img src="../../../assets/images/baseline-local_offer-24px.svg" alt="">
        {{src.category}}
    </div>
</div>